#inputContainers {
  display: none;
}

#result {
  border: 2px solid #555;
  border-radius: 8px;
  padding: 10px;
  background-color: #2c2c2c;
  color: #ddd;
}

.styled-box {
  font-size: 22px;
  color: #f0f0f0;
  font-weight: 700;
  font-family: "Arial Rounded MT Bold", Arial, sans-serif;
  border: 3px solid #777;
  border-radius: 12px;
  padding: 25px;
  background-color: #444;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
}

.styled-box:hover {
  transform: scale(1.02);
  box-shadow: 4px 8px 15px rgba(0, 0, 0, 0.7);
}

.deleteButton {
  padding: 8px;
  color: #f0f0f0;
  background-color: #aa0000;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
  transition: background-color 0.3s ease;
}

.deleteButton:hover {
  background-color: #ff4444;
}

#submitBtn {
  display: none;
}

#date {
  padding: 10px 15px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 8px;
  background-color: #fefefe;
  color: #333;
  transition: border-color 0.3s, box-shadow 0.3s;
}

#date:hover {
  border-color: #666;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

#date:focus {
  border-color: #0066ff;
  outline: none;
  box-shadow: 0 0 10px rgba(0, 102, 255, 0.3);
}

#time,
#task {
  padding: 12px 20px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  color: #333;
  transition: all 0.3s ease;
}

#time:hover,
#task:hover {
  border-color: #888;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

#time:focus {
  border-color: #0066ff;
  outline: none;
  box-shadow: 0 0 10px rgba(0, 102, 255, 0.3);
}

#add {
  display: flex;
  align-items: center;
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  padding: 0.7em 1.4em 0.7em 1.1em;
  color: white;
  background: #ad5389;
  background: linear-gradient(
    0deg,
    rgba(20, 167, 62, 1) 0%,
    rgba(102, 247, 113, 1) 100%
  );
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
  letter-spacing: 0.05em;
  border-radius: 20em;
}

#add svg {
  margin-right: 6px;
}

#add:hover {
  box-shadow: 0 0.5em 1.5em -0.5em #14a73e98;
}

#add:active {
  box-shadow: 0 0.3em 1em -0.5em #14a73e98;
}

#submitBtn {
  padding: 12px 25px;
  font-size: 18px;
  font-family: "Arial Rounded MT Bold", Arial, sans-serif;
  color: #fff;
  background-color: #004823;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 102, 255, 0.3);
  transition: all 0.3s ease;
}

#submitBtn:hover {
  background-color: #3399ff;
  box-shadow: 0 6px 12px rgba(0, 102, 255, 0.4);
  transform: translateY(-2px);
}

#submitBtn:active {
  background-color: #005edb;
  transform: translateY(0);
  box-shadow: none;
}
